#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .title{
        font-size: 40px;
        margin-bottom: 5%;
    }

    #skill-container{
        display: flex;
        flex-direction: column;
        gap: 40px;

        .container-hardskills{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,1fr);
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-gap: 20px;
            width: 100%;
            
            .item{
                .img-hardskill{
                    img{
                        width: 50px;
                        cursor: pointer;
                    }
                }
            }
        }
        
        .container-softskills{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            grid-gap: 20px;
            margin: 20px;
        }

        .item{
            background-color: var(--destaque-inverso);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 10px;
            color: var(--texto);
            transition: 0.4s;
            border-radius: 5px;  
        }

        .item:hover{
            transform: scale(1.1);
        }
    }
    
}