#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../../assets/skills-fundo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    
    .title {
        margin-bottom: 5%;
    }
    
    h2{
        color: black;
    }
    #skill-container {


        .container-hardskills {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: 1fr;
            grid-gap: 15px;
            margin-bottom: 30px;

            .item .img-hardskill img {
                width: 50px;
                cursor: pointer;
            }
        }
        
        .container-softskills {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin: 20px;
        }

        .item {
            background-color: var(--destaque-inverso);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 10px;
            color: var(--texto);
            transition: 0.4s;
            border-radius: 5px;  

        }
        .item:hover {
            transform: scale(1.1);
        }
    }
}

/* --- Correção da Media Query --- */
@media screen and (max-width: 768px) {
    #skill-container {
        width: 80%;
        .container-hardskills, 
        .container-softskills {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
}