#projetos{
    h2{
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    #projeto-container{
        display: grid;
        grid-template-columns: repeat(2,0.4fr);
        justify-content: center;
        gap: 20px;

        @media (max-width:768px) {
            grid-template-columns: 1fr;
        }
    
        .projeto{
            display: flex;
            flex-direction:column;
            gap: 15px;
            background-color: var(--fundo-principal);
            padding: 10px;
            border-radius: 8px;
            border-left:5px solid var(--destaque-inverso);
            transition: border-color 0.7s, border-width 0.4s;
    
        }
        .projeto:hover{
            border-color: var(--destaque);
            border-left-width: 15px;
            cursor: pointer;
        }
    
        .foto{
            width: 80%;
            aspect-ratio: 16/9;
            object-fit: cover;
            overflow: hidden;
            border-radius:8px;
        }
    }
}
