

.formacao-container{
    
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    .curso{
        background-color: var(--fundo-principal);
        border-radius: 8px;
        border-left: 5px solid var(--destaque);
        padding-left: 15px;
        transition: border-width 0.5s;
        cursor: pointer;

        .curso_nome{
            color: var(--destaque);
            font-weight: bold;
        }
        .data_emissao{
            color: var(--texto);
        }
    }
    
    .curso:hover{
        border-left-width: 15px;
        border-color: var(--destaque);
    }


    .periodo{
        font-size: 0.7em;
        font-weight: bold;
        color: var(--texto);
    }

    .instituicao{
        color: var(--destaque);
        font-size: 1.1em;
    }
    
    .titulacao{
        color: var(--texto);  
    }
}

