#ficha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/pexels-gashifrheza-1486121.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    padding: 130px 100px;

    #content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0px;
        padding: 10px;
        border-radius: 20px;

      img.foto {
        width: 200px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid var(--fundo-card);
        outline: 5px solid var(--destaque);
        display: block;
        margin: auto;
        margin-bottom: 20px;
        transition: 0.4s;

      }
      img:hover {
        transform: scale(1.1);
        box-shadow: 1px 1px 20px black;
      }

      .text {
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 10px;
        margin: 20px;

        h1 {
            color: var(--destaque);
            margin: 15px;
            font-size: 50px;
            text-align: left;
        }

        p {
            line-height: 2.0em;
            font-size: 20px;
            color: white;
        }
      }
    }


    /* --- Agrupamento das Regras Mobile --- */
    @media (max-width: 768px) {
        #content {
            flex-direction: column;
            width: 100%;
            align-items: center;

            img.foto {
                width: 150px;
                margin-bottom: 10px;
            }

            .text {
                width: 100%;
                margin: 10px 0;
                text-align: center;

                h1 {
                    font-size: 30px;
                    text-align: center;
                    margin: 10px 0;
                }

                p {
                    line-height: 1.5em;
                }
            }
        }

        #social {
            margin-top: 10px;
            font-size: 1.2em;
        }
    }
}