:root {
  --fundo-principal: #f5f7fa; /* Cor principal do fundo - muito clara */
  --fundo-secundario: #e0e6ee; /* Nova cor de transição - um pouco mais escura */
  --texto: #1e293b;
  --texto-inverso: #fff;
  --destaque: #3b82f6;
  --destaque-inverso:#bfdbfe;
  --fundo-card: #fff;
  --header:#2892b59f;
}

.escuro {
  --fundo-principal: #0f172a;
  --fundo-secundario: #1e293b;
  --texto: #e2e8f0;
  --texto-inverso: #0f172a;
  --destaque: #60a5fa;
  --destaque-inverso: #1e3a8a;
  --fundo-card: #1e293b;
  --header:#13223cb5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  font-size:0.9em;  
}

main{
  display: flex;
  flex-direction: column;
  height: 100%;
}
i {
  vertical-align: middle;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;

  h2{
    color: var(--destaque);
    margin-bottom: 10px;
  }

  #video{
    .video-container{
        position: relative;
        width: 100%;
        margin: auto;
        aspect-ratio: 16/9;
        
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
        }
    }
  }
}

footer{
    background-color: var(--destaque);
    color: var(--texto-inverso);
    text-align: center;
    padding: 10px;

    a{
        color: var(--texto-inverso);
        text-decoration: none;
        font-weight: bold;
        &:hover{
            color: var(--destaque-inverso);
        }
    }
}

#botao-tema{
    border: none;
    background: none;
    background-color: var(--fundo-principal);
    color: var(--texto);
    font-weight: 600;
    padding: 12px 15px; /* mesmo que os links */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.6s, color 0.5s;
    
    #botao-tema:hover{
        background-color: var(--destaque-inverso);
        color: var(--destaque);
    }
}


@media screen and (max-width:768px) {
    main{   
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px; 
    }
    #detalhes {
        height: auto;
        overflow: visible;
        padding: 0;
    }
    .container-hardskills{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }
    .container-softskills{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }


    #projeto-container{
        .projeto{
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .projeto-info{
            max-width: 80%;
        }
        .foto{
            aspect-ratio: 1/1;
            max-width: 100%;
            max-height: 300px;
        }
    }
}
